<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quinn.foodtruck" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TruckLogin"
            android:label="@string/title_activity_truck_login"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quinn.foodtruck.MainActivity" />
        </activity>
        <activity
            android:name=".Customer"
            android:label="@string/title_activity_customer"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quinn.foodtruck.MainActivity" />
        </activity>
        <activity
            android:name=".Truck"
            android:label="@string/title_activity_truck"
            android:parentActivityName=".TruckLogin" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quinn.foodtruck.TruckLogin" />
        </activity>
        <activity
            android:name=".AddItem"
            android:label="@string/title_activity_add_item"
            android:parentActivityName=".TruckLogin" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quinn.foodtruck.Truck" />
        </activity>
        <activity
            android:name=".Map"
            android:label="@string/title_activity_map"
            android:parentActivityName=".Customer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quinn.foodtruck.Customer" />
        </activity>
        <activity
            android:name=".ViewTruck"
            android:label="@string/title_activity_view_truck"
            android:parentActivityName=".Customer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quinn.foodtruck.Customer" />
        </activity>
    </application>

</manifest>
